<?xml version="1.0" encoding="UTF-8" ?><ResourceDetails><ServerName>defaultLocal</ServerName><LauncherName>YumaTest</LauncherName><ExternalBrowser></ExternalBrowser><UseStartPage>true</UseStartPage><StartPage useextension="false" >C:/ColdFusionBuilder2018/ColdFusion/cfusion/wwwroot/YumaTest/Client/UsersDisplay.cfm</StartPage><Mappings><Mapping-Name>YumaTest</Mapping-Name><Location>C:\ColdFusionBuilder2018\ColdFusion\cfusion\wwwroot\YumaTest</Location><ResolveCFC>true</ResolveCFC></Mappings><VariableMappings></VariableMappings><DictionaryVersion>ColdFusion2018</DictionaryVersion><CFCMappings></CFCMappings></ResourceDetails>